<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Модели</title>
</head>
<body>

<h1>Модели</h1>

<!-- Display form to create a new model -->
<form action="/admin/models/add" method="post" th:object="${newModel}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div class="mb-3">
        <label for="modelName" class="form-label">Model Name:</label>
        <input type="text" class="form-control" id="modelName" th:field="*{name}" required>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
    </div>

    <div class="mb-3">
        <label for="category" class="form-label">Category:</label>
        <select class="form-select" id="category" th:field="*{category}" required>
            <option th:each="category : ${T(com.example.Web2.models.Model.Category).values()}"
                    th:value="${category}" th:text="${category.name()}"></option>
        </select>
        <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></div>
    </div>

    <div class="mb-3">
        <label for="brand" class="form-label">Брэнд:</label>
        <select class="form-select" id="brand" th:field="*{brandName}" required>
            <option th:each="brand : ${brands}"
                    th:value="${brand.name}" th:text="${brand.name}"></option>
        </select>
        <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></div>
    </div>

    <div class="mb-3">
        <label for="startYear" class="form-label">Start Year:</label>
        <input type="number" class="form-control" id="startYear" th:field="*{startYear}" required>
        <div th:if="${#fields.hasErrors('startYear')}" th:errors="*{startYear}" class="text-danger"></div>
    </div>

    <div class="mb-3">
        <label for="endYear" class="form-label">End Year:</label>
        <input type="number" class="form-control" id="endYear" th:field="*{endYear}" required>
        <div th:if="${#fields.hasErrors('endYear')}" th:errors="*{endYear}" class="text-danger"></div>
    </div>

    <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL:</label>
        <input type="url" class="form-control" id="imageUrl" th:field="*{imageUrl}" required>
        <div th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger"></div>
    </div>

    <button type="submit" class="btn btn-primary">Добавить модель</button>
</form>

<!-- Display table of all models -->
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название модели</th>
        <th>Категория</th>
        <th>Бренд</th>
        <th>Год начала производства</th>
        <th>Год окончания производства</th>
        <th>URL изображения</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="model : ${models}">
        <td th:text="${model.id}"></td>
        <td th:text="${model.name}"></td>
        <td th:text="${model.category}"></td>
        <td th:text="${model.brandName}"></td>
        <td th:text="${model.startYear}"></td>
        <td th:text="${model.endYear}"></td>
        <td th:text="${model.imageUrl}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>