<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Password Update Form</title>
</head>
<body>

<h1>Password Update Form</h1>

<form action="/user/edit/password" method="post" th:object="${passwordDto}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div>
        <label>Old Password: <input type="password" th:field="*{oldPassword}" /></label>
    </div>

    <div>
        <label>New Password: <input type="password" th:field="*{newPassword}" /></label>
    </div>

    <div>
        <label>Confirm New Password: <input type="password" th:field="*{confirmPassword}" /></label>
    </div>

    <div th:if="${#fields.hasErrors()}" class="error-message">
        <p th:each="err : ${#fields.errors()}" th:text="${err}"></p>
    </div>

    <button type="submit">Update Password</button>
</form>

</body>
</html>