<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Мои предложения</title>
</head>
<body>
<h1>Мои предложения</h1>
<a href="/offers/add">Создать новое предложение</a>
<div th:each="offerCard:${offers}">
    <a th:href="@{'/offers/details/' + ${offerCard.offerDto.id}}">
        <h2 th:text="${offerCard.brandName} + ' ' + ${offerCard.modelName}"></h2>
        <img th:src="${offerCard.offerDto.imageUrl}" width="200" height="150">
        <p th:text="${offerCard.offerDto.price}"></p>
    </a>
    <br>
    <a th:href="@{'/offers/edit/' + ${offerCard.offerDto.id}}">Изменить предложение</a>
    <a th:href="@{'/offers/delete/' + ${offerCard.offerDto.id}}">Удалить предложение</a>
</div>
</body>
</html>